services:
  backend:
    build: ./backend
    container_name: backend-app
    restart: unless-stopped
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    env_file:
      - ./backend/.env
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/mydb
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: frontend-app
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - backend

  postgres:
    image: postgres
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
